<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<%= link_to 'Edit', incognito_get_edit_post_path(@post) %> |
<%= link_to 'Back', incognito_get_posts_path %>
