<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<%= link_to 'Edit', edit_post_path(@post, obfuscate: { method: :get }) %> |
<%= link_to 'Back', posts_path(obfuscate: { method: :get }) %>
